.nav-link{
	color: white;
	font-size: 24px;
	margin-top: 20px;
}

.jumbotron{
		background-image: url(../img/bg.jpg);
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		max-width: 100%
		height:auto;
		border-radius: 0px;
}

#b1{
	background-position: center;
	width:2000px;
	height: auto;	
}